<!DOCTYPE html>
<html>

<body>

    <h1>Hello World!😎</h1>
    <p>Welcome to my first Django project!</p>
    <p>{{ today }}</p>
    <p>{{ start }}</p>
    <p>
        {% for object in datas %}
        {{ object.start_date }}
        {% endfor %}
    </p>

    <p>
        {% for object in msg_list %}
        {{ object.message }} <br>
        {{ object.start_date}} <br>
        {% endfor %}
    </p>

    <p>
        {% for object in msg_list %}
        {{ object.message }} <br>
        {{ object.start_date }} <br>
        {{ object.end_date }} <br>
        {% endfor %}
    </p>
</body>

</html>